/*Base */
/* ----------------------------------------------------------*/

/** {
  margin: 0;
  padding: 0;
}*/




* {
  box-sizing: border-box;
  -moz-box-sizing:border-box;
}

html, body {
  padding: 0;
  margin: 0;
/*  height: 100%;
  font-family: 'Open Sans'*/ }

site {

  width:100%;
  max-width:40em;
  margin:3em auto;

}

body {font-family: Palantino, 'times new roman', serif;
  font-size: 16px;
  font-weight: 300;
  background: #f4f4f4;
}



a {text-decoration: none; color:#333399; font-size: }
a:hover {color:blue; text-decoration:underline; }



/* ----------------------------------------------------------*/

/* Site header */

/*.site-header {
  margin-left: 20%; margin-right: 20%; width: 60%; margin-bottom: 0px; position: relative; overflow: hidden; border-style: dashed;}
.site-header a{ }
.site-header:hover a{color:black;text-shadow: 2px 2px 4px #888888 ; }
.site-header a:active{}
.site-header a:hover{}

.site-title {float: left;font-size: 16px;color:black;text-shadow: 2px 2px 4px #888888 ;}
.site-title:hover{text-decoration: none;}

.site-nav {
  float: right;
}

.site-nav .menu-icon { display: none}

.site-nav .page-link {font-size: 14px;
  margin-left:10px ;color: #AFAFAF;
}

.site-nav .page-link:hover{
  color:blue
}
.site-nav .page-link:focus{
  color:red
}


*/

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  margin-left: 20%; margin-right: 20%; margin-bottom: 50px; width: 54%;box-shadow: 0px 0px 10px 5px #888888; background-color: white;
  padding-right: 3%; padding-left: 3%; padding-top: 10px; position: relative; overflow: hidden
}


/* Utility */

.wrap:before,
.wrap:after { content:"";display: inline-block; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
}


/* Home styles */
/* ----------------------------------------------------------*/

.note{overflow: hidden; display: block; height:100px; width:23% ; padding:10px; margin:20px 20px; float: left; background-color:white;vertical-align: middle;}
.note-link{font-size:16px;display:block;text-align:center;color: black }
.note:hover{ box-shadow: 0px 0px 20px 10px #888888; background-color: white;}
.note:hover .note-link{color:#333399;text-decoration: none }

/* Post */
/* ----------------------------------------------------------*/

.post{ list-style-type: none; }

.post li { margin-bottom: 30px; }

.post .post-link {
  font-size: 16px;
  color: red
}

.post-tag{
  display: block;
  font-size: 12px;
  color: #818181;
  text-align: center;
}

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code { border: none; }

/* Post Contents */
/* ----------------------------------------------------------*/

/*.post-header { margin: 10px 0 30px; }*/

.post-header h5 {
  font-size: 20px;
  line-height: 1;
  font-family: ''
  font-weight: 800;
}

.post-header .meta {
  font-size: 14px;
  color: #818181;
  margin-top: 0px;
}

/*.post-content { margin: 0 0 30px;}

.post-content > * { margin: 20px 0; }*/


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
 
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}
/*.post a {color: #2a7ae2; text-decoration: none; }
.post a:hover {color: #000; text-decoration: underline; }*/
.post-content ul,
.post-content ol { padding-left: 20px; }

/* Site footer */

.site-footer {
  padding: 0px 0;
  margin-left: 250px; margin-right: 250px; width: 600px; margin-top: 5px; overflow: hidden;
}

.footer-heading {
  font-weight: 300;
  margin-bottom: 15px;
}

.site-footer .column { float: left; margin-bottom: 15px;  }

.footer-col-1 {
  width: auto; /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px;
   
}
.footer-col-2 {
  width: auto; /*fallback*/
  width: -webkit-calc(23.125% - 10px);
  width: -moz-calc(23.125% - 10px);
  width: -o-calc(23.125% - 10px);
  width: calc(23.125% - 10px);
  margin-right: 10px;
  text-align: center;
}
.footer-col-3 {
  width: auto: ; /*fallback*/
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
  text-align: right;
}

.site-footer ul { list-style:none; background-color: blue; padding: 0px }

.site-footer li,
.site-footer p {
  color: #828282;
}

.github-icon-svg,
.twitter-icon-svg {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline;
  padding-left: 5px
}

.rss-subscribe{clear: both; bottom: 0px; position: relative;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }
.home h1 { margin-bottom: 25px; }





