<form style="#ccc;padding:3px;text-align:center;" action="https://tinyletter.com/piyushahuja" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/piyushahuja', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">

 	<p>
 	<label for="tlemail">Please contact me at piyushahuja.in@gmail.com! Or join my email list:</label>
 	</p>
 	<p>
 		<input type="email" style="width:140px" name="email" id="email" value placeholder="example@example.com" />	
 		<button>Submit</button>
 	</p>

 	<input type="hidden" value="1" name="embed"/>
 

 </form>
         