<form action="https://buttondown.com/api/emails/embed-subscribe/piyush26"
      method="post"
      style="text-align:center; padding: 1em 0; clear: both;">
  <p style="text-align:center;">Get notified when new course posts are published:</p>
  <input type="email" name="email" placeholder="your@email.com"
         style="width:200px; text-align:center; padding: 6px;" />
  <input type="hidden" value="1" name="embed" />
  <button type="submit" style="margin-left: 6px; padding: 6px 14px;">Subscribe</button>
</form>
