<h1>
    <a title ="" href="{{ site.baseurl }}/">Notes from a fellow human</a>
    <!-- <span class="byline"> <a href="/">by Piyush Ahuja</a></span>  -->
</h1> 
<ul class="nav">
   <!-- <li><a class="page-link" href="/index.html">Essays</a>
     <li><a class="page-link" href="/pensieve/">Journal</a> -->
   <!--  <li><a class="page-link" href="/links/">Links</a>
    <li><a class="page-link" href="/about/">About</a> 
    <li><a class="page-link" href="/work">Research</a> -->
    <li><a class="page-link" href="/about/">About</a>
</ul>     


