<h1>
    <a title ="" href="{{ site.baseurl }}/">Notes</a>
    <span class="byline"> <a href="/about/">by Piyush </a></span>  
</h1> 
<ul class="nav">
<!-- 	<li><a class="page-link" href="/research">Research</a>
	<li><a class="page-link" href="/work">Work</a> -->
   <!--   <li><a class="page-link" href="/pensieve/">Journal</a>  -->
   <!--  <li><a class="page-link" href="/links/">Links</a>-->
    <li><a class="page-link" href="/writing/">Writing</a> 
     <li><a class="page-link" href="/teaching">Teaching</a> 
  	<!-- <li><a class="page-link" href="/about_professional/">Bio</a> -->
    <!-- <li><a class="page-link" href="/about/">About</a> -->
</ul>     


