<h1>
    <a title ="" href="{{ site.baseurl }}/">Notes</a>
    <span class="byline"> <a href="/">by Piyush </a></span>  
</h1> 
<ul class="nav">
  <!-- <li><a class="page-link" href="/tech">Tech</a>  -->
	 <li><a class="page-link" href="/writing"> Writing</a>  
   <li><a class="page-link" href="/research">Research</a>
 <!--  <li><a class="page-link" href="/startups">Startups</a>  
  
	<li><a class="page-link" href="/work">Work</a>  -->
  <li><a class="page-link" href="/philosophy">Philosophy</a> 
  <li><a class="page-link" href="/courses">Courses</a>  
  <!-- <li><a class="page-link" href="/about_professional/">Bio</a> -->
    <!-- <li><a class="page-link" href="/about/">Bio</a>  -->
</ul>     


