<h1>
    <a title ="" href="{{ site.baseurl }}/">Notes</a>
    <span class="byline"> <a href="/about/">by Piyush </a></span>  
</h1> 
<ul class="nav">
      <li><a class="page-link" href="/index.html">Writings</a>
   <!--   <li><a class="page-link" href="/pensieve/">Journal</a>  -->
   <!--  <li><a class="page-link" href="/links/">Links</a>
    <li><a class="page-link" href="/work">Research</a> -->
    <li><a class="page-link" href="startups.piyushahuja.com">On Startups</a>
    <!-- <li><a class="page-link" href="/about/">About</a> -->
</ul>     


