<h1>
    <a title ="My Blog" href="{{ site.baseurl }}/">The Pensieve</a>
    <span class="byline">&larr; <a href="/">Piyush Ahuja</a></span>
</h1> 
<ul class="nav">
    <li><a class="page-link" href="/pensieve/">Journal</a>
    <li><a class="page-link" href="/pensieve/travels/">Travels</a>
    <!-- <li><a class="page-link" href="/pensieve/memories/">Memories</a> -->
    <li><a class="page-link" href="/pensieve/work/">Work</a>
    <!-- <span class="byline">&larr; <a href="/">Back</span> -->
 
</ul>     

