<h1>
    <a href="/pensieve/">The Pensieve</a>
    <span class="byline"> <a href="/">Back to notes &rarr;</a></span> 
</h1> 
	


<ul class="site-nav">
    <li><a class="page-link" href="/pensieve/">Journal</a>
    <li><a class="page-link" href="/pensieve/guides/">Guides</a>
    <li><a class="page-link" href="/pensieve/interview/">Interview</a> 
    <li><a class="page-link" href="/pensieve/travels/">Travels</a> 
     <!--   <li><a class="page-link" href="/pensieve/memories/">Memories</a>  -->

</ul>     

