---
layout: default
top: Piyush Ahuja
feed: atom.xml
---

<div id="header">
  {% include nav-home.html %}
</div>

<div id="page">
  
  <h1 class="emphnext">{{ page.title }}</h1>

  
{{ content }}

<!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox">
<!-- Go to www.addthis.com/dashboard to customize your tools --> 


  <address class="signature">
    <a class="author" href="/about">{{ site.author }}</a> 
    <span class="date">{{ page.date | date_to_long_string }}</span>
    <span class="location">{{ page.location }}</span>
  </address>
</div><!-- End Page -->


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ad839edfeb2308b"></script>
</div>

<!-- Discus Comments -->
<div id="disqus_thread">
  {% include comments.html %}
 </div>
<!-- Enable Disqus comments -->



