<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
          <div class="post">

              <header class="post-header">
                  <h5>{{ page.title }}</h5>
                  <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
                  </header>

                        <article class="post-content">
                          {{ content }}
                        </article>

          </div>
      </div>
    </div>


    <!--{% include footer.html %}-->

 
</html>

<div class="page-content">

   {% include comments.html %}
</div>
   </body>