---
layout: default
top: Piyush Ahuja
feed: atom.xml
permalink: /:title
---

<div id = "header" class="site-header">
  {% include nav-professional.html %}
</div>

<div id="page">
  
  <h1 class="emphnext">{{ page.title }}</h1>

  
{{ content }}




  <address class="signature">
<!--     <a class="author" href="/about">{{ site.author }}</a>  -->
    <span class="date">{{ page.date | date_to_long_string }}</span>
    <span class="location">{{ page.location }}</span>
  </address>

 

<!-- Go to www.addthis.com/dashboard to customize your tools --> 

{% if page.sharing %}
{% include sharing-plug.html %}
{% endif %}
</div><!-- End Page -->



{% if page.comments %}
<!-- Discus Comments -->
<!-- <div id="disqus_thread">
  {% include comments.html %}
 </div> -->
<!-- Enable Disqus comments -->
{% endif %}


